/*Prototipo 3 v1*/
	section{
		font-family: "Open Sans", "Arial", "Helvetica", "Sans-serif" !important;
		color: #666 !important;
	}
	textarea{
		resize:none;
	}
	article{
		padding: 1%;
	}
	body{
		background-color: #eee;
	}
	.container-fluid{
		margin-right: -5% !important;
		border:solid 2px #ddd;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background: #fff;
		
	}
	.col-md-4{
		padding: 1%;
	}
	.col-sm-4{
		padding: 1%;
	}
	h3{
		padding-left: 9px !important;
	}
	#todo{
		margin-top: 3% !important;
		
	}
	.col-md-2{
		
	}
	
   	