/*Prototipo 3 v1*/
	section{
		font-family: "Open Sans", "Arial", "Helvetica", "Sans-serif" !important;
		color: #666 !important;
	}
	textarea{
		resize:none;
	}
	article{
		padding: 3px;
	}
	body{
		background-color: #eee;
		margin: 5px;
	}
	.container-fluid{
		margin-top: 5%;
		border:solid 2px #ddd;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background: #fff;
	}
	.col-md-4{
		padding: 2%;
	}
	
	/*.container-fluid{
		border:solid 3px #428BCA;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		margin-top: 5% !important;

	}
	
	.col-md-4{
		border:double 3px #000 !important;
    	-moz-border-radius: 3px;
    	-webkit-border-radius: 3px;
    	border-radius: 3px;
    	padding: 2%;
 
	
	}*/
   	