	/*AUTORES:
			Jesús Israel Aguirre Valle.*/
	h4{
		margin: 22px 58px !important;
	}

	input[type="text"]:hover{
		border: 2px dashed #3D6BF5;
		
	}
	input{
		width: 300px !important;
		height: 35px !important;
	}

	input[type="text"]:focus{
		border: 5px solid #4169e1; 
	}
	article{
		padding: 40px !important;
		display: inline-block !important;
	}
	
	/*Contenedores*/
	section#form{
		margin: 20px !important;
		padding: 10px !important;
		border:solid 5px #FAAC58;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px
	}

	section#uno, section#tres, section#dos{
    	border:double 7px #56b0ed;
    	-moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
    	border-radius: 10px;
    	margin: 10px !important;
	}
		
	/*Identificadores*/

	/*Clases*/
	
	
	